{% load static %}

<!DOCTYPE html>
<html lang="el">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
  <link rel="stylesheet" href="{% static 'css/images.css' %}">
  <title>Perceptron Subs</title>

</head>
<body>
<!-- Κύριο μέρος -->
 <div>
    <img src="{% static "css/Perceptron.jpg"%}" alt="logo" width="300px" height="168px" class="logo">
 </div>
<div class="header"><h1>Καλωσορίσατε στο site!</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-white text-black">
        <h2 style="color:darkslateblue;">Υπότιτλος για κατέβασμα!&#128229;</h2>
        <p style ="font-size: large"><b>Πρόοδος μετάφρασης:</b></p>
        <progress value="100" max="100">22%</progress><br>
{% for post in posts %}
    <p style="font-size: large"><b>Τίτλος Επεισοδίου: {{ post.title }}</b></p>
        <p>
           {% if post.image %}<img src="{{ post.image.url }}" alt="wildcards" width="300px" height="168px"/>
           {% endif %}
        </p>
    <p style="font-size: large"><b>Περίληψη: {{ post.text|linebreaks }}</b></p>
    <p style="font-size: large"><b>Ημερομηνία Προβολής: {{ post.production_date }}</b></p>
    <p style="font-size: large"><b>Διάρκεια: {{ post.duration }}</b></p>
    <p style="font-size: large"><b>Βαθμολογία: {{ post.grade }}</b></p>
    <p style="font-size: large"><b>Κατέβασμα υποτίτλου:</b>
    </p><button> <a href="{% url 'download_cheatsheet' post.id %}">Κατέβασμα</a></button>
{% endfor %}
    </div>
    <div class="col-sm-4"><p style="font-size: larger"><b>Καλώς ήρθατε στον απόλυτο προορισμό για υπότιτλους!<br>
    Εδώ θα βρείτε μια συλλογή από υπότιτλους για ταινίες και σειρές,<br>
    για να απολαύσετε την αγαπημένη σας ψυχαγωγία χωρίς περιορισμούς.<br>
    Το εύχρηστο site επιτρέπει να αναζητήσετε<br>
    και να κατεβάσετε υπότιτλους εύκολα και γρήγορα.<br>
    Είτε είστε σινεφίλ, είτε λάτρης των σειρών και των ταινιών,<br>
    έχω τον κατάλληλο υπότιτλο για εσάς.<br>
    Εξερευνήστε τη συλλογή μου και ξεκινήστε την περιπέτεια της ψυχαγωγίας με υπότιτλους!</b><br>
    </p>
    </div>
    <div class="col-sm-4"><h3 class="heading-text">Αναβάθμιση του site:</h3>
         <h2>Το τραγούδι της εβδομάδας:</h2>
         <p></p>
             <iframe width="480" height="240" src="https://www.youtube.com/embed/pi0U7HEGhnU">
             </iframe>
        <p><a href='old'><h3>Αρχείο Υποτίτλων</h3></a></p>
    </div>
  </div>
</div>

 <div class="container">
   <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
        <!-- Indicators -->
        <ol class="carousel-indicators">
    <!--        <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
    <!--        <li data-target="#myCarousel" data-slide-to="1"></li> -->
    <!--        <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>

         <!-- Wrapper for slides -->
    <div class="carousel-inner">

         <div class="item active">
            <img src="{% static "images/wildcards.jpg" %}" alt="wildcards" style="width:640px; height:480px;">
            <div class="carousel-caption">
               <h3>Wild Cards</h3>
               <p>Season 1 Episode 4</p>
            </div>
         </div>

        <div class="item">
        <img src="{% static "" %}" alt="roswell" style="width:640px; height:480px;">
        <div class="carousel-caption">
          <h3>Roswell</h3>
          <p>Season 4 Episode 1</p>
        </div>
      </div>

        <div class="item">
        <img src="{% static "" %}" alt="roswell" style="width:640px; height:480px;">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
          <footer>
           <p><b>θα χαρώ πολύ να λάβω σχόλια, παρατηρήσεις ή προτάσεις στο email:</b>
           <a href="perceptronsubsforall@gmail.com"><b style="font-size: large">perceptronsubsforall@gmail.com</b></a></p>
          </footer>
    </div>
 </div>


{% block content %}
    {% endblock %}




</body>
</html>